[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Pillow = "*"
requests = "*"
imagecolor = "*"
py-ms-cognitive = "*"
google-api-python-client = "*"
pytest = "*"
pycodestyle = "*"
pylint = "*"


[dev-packages]

